.App{
  text-align: center;
  padding-bottom: 0%;
  margin: 0%;
}

.myhead{
  background-color: #000000;
  max-height: 10%;
  display: flex;
  margin-bottom: 0%;
}


.himg{
  border-radius: 20%;
  border-color: gold;
  border-width: 2px;
  border-style: solid;
  max-width: 3rem;
  max-height: 3rem;

  margin: 10px 0px 10px 30px;
}

.title{
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.main{
  height: 43rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("mainimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  border-bottom: 7px solid gold;
}

.mainh1{
  margin: 0%;
  padding-top: 13rem;
  text-align: center;
  font-size: 300%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

.mainp{
  margin: 0%;
  text-align: center;
  padding: 5rem 10% 0% 10%;
  font-size: 250%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(196, 196, 196);
}

.secnd{
  background-color: #1f1f1f;
  padding-bottom: 4rem;
}
.secndh1{
  margin: 0%;;
  padding: 3rem;
  padding-top: 5rem;
  text-align: center;
  font-size: 4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);

}


.secnddiv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.tbox{
  background-color: rgb(14, 14, 14);
  width: 16rem;
  margin: 1rem;
  padding: 3rem;
  border-radius: 5%;
  border-color: #b9c600;
  border-width: 0.3rem;
  border-style: solid;
}

.boximg{
  border-radius: 20%;
  border-color: gold;
  border-width: 2px;
  border-style: solid;
  width: 15rem;
  height: 15rem;
}

.secndh3{
  margin: 0%;
  padding: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

.th{
  border-top: #eeff00;
  border-top-width: 0.3rem;
  border-top-style: solid;
  background-color: #000000;
  padding-bottom: 5rem;
  border-bottom: #b9c600 0.3rem solid;
}

.thh1{
  margin: 0%;
  padding: 0%;
  padding-top: 3rem;
  text-align: center;
  font-size: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);

}

.thdiv{
  text-align: left;
  padding-top: 4rem;
  padding-left: 10%;
  color:rgb(255, 255, 255)
}

.thh2{
  font-size: 200%;
  padding: 0%;
  margin: 0%;
  padding-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

.thp{
  font-size: 150%;
  padding: 0%;
  padding-left: 1rem;
  margin: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(197, 197, 197);
  margin-bottom: 2rem;
}

.thimg{
  object-fit: cover;
  width: 90%;
  height: 20rem;
  border: #cde300 0.3rem solid;
}

.lastd{
  background-color: #8b8b8b;
  padding-bottom: 5rem;
  border-bottom: #b9c600 0.3rem solid;
}

.lasth1{
  margin: 0%;
  padding: 0%;
  padding-top: 3rem;
  text-align: center;
  font-size: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

.lasth2{
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: left;
  padding-left: 8%;
  font-size: 2.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(45, 45, 45);
}

.listf{
  text-align: left;
  padding-left: 10%;
}

.lic{
  padding-top: 1rem;
  font-size: 200%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}